* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  /* font-family: 'Comic Mono', 'Courier New', Courier, monospace; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  z-index: 999;
  width: 100px;
  height: 150px;
  background-color: rgba(174, 174, 174, 1);
  color: white;
  border-radius: 4px;
  transform: rotate(10deg) skew(-10deg, -5deg);
  box-shadow: rgba(0, 0, 0, 1) 5px 5px;
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
  border: 1px solid black;

  padding: 10px;
  margin: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card > img {
  max-width: 90px;
  max-height: 90px;
  filter: grayscale(100%) brightness(80%) hue-rotate(0deg) invert(0%);
  /* filter: grayscale(100%); */
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.card > h1 {
  color: rgb(68, 68, 68);
  filter: grayscale(100%);
  transition: filter 0.25s ease-in-out;
}

.card:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(111, 137, 184);
  /* border: 1px solid rgb(255, 0, 212); */
   transform: rotate(5deg) skew(-5deg, -2deg) translateY(-30px) translateX(-20px) scale3d(130%, 130%, 110%);

  box-shadow: rgba(0, 0, 0, 1) 5px 5px, rgba(0, 0, 0, 0.6) 10px 10px,
    rgba(0, 0, 0, 0.4) 15px 15px, rgba(0, 0, 0, 0.2) 20px 20px;
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.card:hover > img {
  /* filter: invert(50%); */
  filter: grayscale(0%) brightness(100%) hue-rotate(0deg) invert(0%);
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.card:hover > h1 {
  color: rgb(0, 0, 0);
  filter: grayscale(0%);
}

.card:leave > img {
  filter: grayscale(0%) brightness(100%) hue-rotate(360deg) invert(0%);
  transition: filter 0.25s ease-in-out;
}

.card:active {
  background-color: rgb(0, 0, 0);
  box-shadow: rgb(111, 137, 184) 5px 5px, rgba(0, 0, 0, 0) 30px 30px,
    rgba(0, 0, 0, 0) 45px 45px, rgba(0, 0, 0, 0) 60px 60px;

  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.card:active > img {
  color: white;
  filter: grayscale(100%) brightness(0%) hue-rotate(360deg) invert(100%);
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out,
    transform 0.25s ease-in-out;
}
.card:active > h1 {
  color: white;
}

p {
  margin: 30px 0px;
}

h1 {
  margin: 10px 0px;

}

.card-group {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.line {
  width: 80%;
  height: 6px;
  background-color: black;
  margin: 50px 0px;
  border-radius: 3px;
}
